//  Variables

$progress-bar-xs-height:                .3rem;
$progress-bar-sm-height:                .52rem;
$progress-bar-lg-height:                1rem;

$progress-bar-animated-color:           $white;
