// Widgets

@import "widgets/bootstrap/base";
@import "widgets/rc-switch/base";
@import "widgets/rc-tree/base";
@import "widgets/rc-time-picker/base";
@import "widgets/rc-select/base";
@import "widgets/rc-pagination/base";
@import "widgets/react-bootstrap-typeahead/base";
@import "widgets/react-dropzone/base";
@import "widgets/react-draft-wysiwyg/base";
@import "widgets/react-quill/base";
@import "widgets/react-ladda/base";
@import "widgets/react-big-calendar/base";
@import "widgets/react-datepicker/base";
@import "widgets/react-slick/base";
@import "widgets/react-contextmenu/base";
@import "widgets/react-dual-listbox/base";
@import "widgets/nouislider-react/base";
@import "widgets/react-cropper/base";
@import "widgets/react-block-ui/base";
@import "widgets/leaflet/base";
@import "widgets/pe7-icon/base";
@import "widgets/react-sweet-progress/base";
@import "widgets/react-circular-progressbar/base";
@import "widgets/react-perfect-scrollbar/base";
@import "widgets/hamburgers/base";
