.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-modal .modal-title {
  width: 100%;
}

.custom-modal .close {
  padding-top: 1.25rem;
}

.modal-title-inner {
  display: flex;
  justify-content: space-between;
}

.swal2-title {
  color: #000 !important;
}
.swal2-container {
  z-index: 2000 !important;
}
